.carousel_container {
    width: 100%;
    height: 92%;
    overflow: scroll;
}

.carousel_right {
    display: flex;
    flex-direction: column;
    position:fixed;
    right: 0;
    width: 50%;
    height: 100%;
    align-items: center;
}

.carousel_left {
    display: flex;
    flex-direction: column;
    position:fixed;
    left: 0;
    width: 50%;
    height: 100%;
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    .carousel_right {
        bottom: -14%;
        width: 100%;
        height: 50%;
    }
    
    .carousel_left {
        top: 14%;
        width: 100%;
        height: 50%;
    }
}

.hobby_image{
    width: 100%;
    height: 100%;
}

.carousel_title {
    margin-top: 30%;
    font-family: boldFont;
    font-size: 50px;
    text-align: center;
}

.carousel_text {
    font-family: regularFont;
}

.back_button_carousel {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 52%;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
}

.back_button_carousel:hover {
    opacity: 1;
}

.next_button_carousel {
    position: absolute;
    right: 0;
    z-index: 10;
    top: 52%;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
}

.next_button_carousel:hover {
    opacity: 1;
}