:root {
    --divider: #00000033;
    --background: #ffffff;
    --white: #ffffff;
    --outline: #000000;
    --texColorRegular: #000000;
    --hover: #fe491b;
    --secondDivider: #fe7f5f;
    --transparente: #00000000;
}