@import './navbar.css';
@import './homepage.css';
@import './carousel.css';
@import './contacts.css';
@import './qualification.css';

@font-face {
    font-family: regularFont;
    src: url(GalanoGrotesqueRegular.otf);
}

@font-face {
    font-family: boldFont;
    src: url(GalanoGrotesqueBold.otf);
}

html, body, h1 {
    margin: 0px;
    font-family: boldFont;
}

.page_container {
    position: absolute;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 1080px) {
    .screen_area_container {
        flex-direction: column;
        justify-content: space-between;
    }
}
.screen_area_container {
    display: flex;
    height: 92%;
    justify-content: center;
}

.page_title {
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--hover);
    font-size: 40px;
    cursor: default;
}

.column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_title {
    color: var(--hover);
    margin-top: 26px;
}

.find-enter{
   opacity: 0;
}
.find-exit{
   opacity: 1;
}
.find-enter-active{
   opacity: 1;
}
.find-exit-active{
   opacity: 0;
}
.find-enter-active,
.find-exit-active{
   transition: opacity 1500ms;
}